section{
  height: 630px;
  background-size: cover;
}
.contact{
  background-color: green;
  height: 300px;
}
.intro{
  padding: 220px;
  color: #fff;
  text-align: center;
}
*----------------------------------------------------
	5. Skill & Expert Style
------------------------------------------------------*/
.skillset {
	background:#f8f8f8;
	display:table;
	width:100%;
}
.skillset .container{
	padding-top:66px ;
	padding-bottom:64px ;
}
.skillbar {
	position:relative;
	display:block;
	margin-bottom:53px;
	width:100%;
	background:#e2e1e2;
	height:7px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:-27px;
	left:0;
	font-weight:bold;
	font-size:13px;
	line-height:27px;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#5b4c5c;
}

.skillbar-title span {
	display:block;
}

.skillbar-bar {
	height:7px;
	width:0px;
	background:#e88988;
}

.skill-bar-percent {
	position:absolute;
	top:-24px;
	font-size:14px;
	color:#796f7a;
	margin-left:-20px;
}
